prometheus:
  alertmanager:
    enabled: false

  prometheus-pushgateway:
    enabled: false

  server:
    service:
      type: LoadBalancer

    extraFlags:
      - "web.enable-remote-write-receiver"

    persistentVolume:
      enabled: true
      storageClass: "gp2"
      size: 10Gi

    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        cpu: 500m
        memory: 1Gi
